{% extends "base.html" %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center signup-wrap">
  <div class="row text-center my-5">
    <div class="col wrap-login w-25 bg-lilac rounded">

      <h1 class="mt-2">Sign In</h1>

      <p>Havent signed up yet?
        <strong><a class="text-dark" href="{{ signup_url }}">DO IT HERE</a></strong>
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <p>
          <button class="d-block mx-auto btn bg-mint text-dark fs-5 mb-2" type="submit">Sign In</button>
          <a class="d-block button secondaryAction text-dark" href="{% url 'account_reset_password' %}">
            Forgot Password?</a> &nbsp
        </p>
      </form>
    </div>
  </div>
</div>

{% endblock %}
