{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center signup-wrap">
  <div class="row text-center my-5">
    <div class="col w-25 bg-lilac rounded">
      <h1 class="text-dark mt-2">{% trans "Sign Up" %}</h1>

      <p class="text-dark fs-5">{% blocktrans %}Already have an account? 
        <a class="text-dark" href="{{ login_url }}">SIGN IN HERE</a>{% endblocktrans %}
      </p>
      <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn bg-mint text-dark fs-5 mb-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
