{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    
    <div class="row my-3 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
            <h2>{{ post.title }}</h2>
        </div>
    </div>
    {% if "placeholder" not in post.featured_image.url %}
        <div class="row my-3 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
                <img class="m-2 mx-auto d-block post-detail-img"
                     src="{{ post.featured_image.url }}">

                <h6>{{ post.category.friendly_name }} | By: {{ post.author }}
                    <span class="post-date"> | {{ post.created_on }}</span>
                </h6>
                <hr>
            </div>
        </div>
    {% endif %}

    <div class="row gx-0">
        <div class="col-12 col-md-8 offset-md-2 text-center">
            <p>{{ post.content | safe }}</p>
        </div>
    </div>
    <hr>

    <div class="row gx-0">
        <div class="col-md-6 offset-md-3">
            <form class="like-form" 
                  action="{% url 'post_like' post.slug %}" 
                  method="POST">
                {% csrf_token %}
                <div class="row text-center">
                    <div class="col">
                        {% if liked %}
                            <button type="submit" class="btn-liked border-0">
                                <i class="fa-solid fa-thumbs-up fa-2x"></i>
                            </button>
                        {% else %}
                            <button type="submit" class="btn-like border-0">
                                <i class="far fa-thumbs-up fa-2x"></i>
                            </button>
                        {% endif %}
                        <span class="likes-count fs-1">
                            {{ post.number_of_likes }}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Comment Form -->
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <form method="post" action="" class="comment-form mb-2">
                {% csrf_token %}
                {{ comment_form }}
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button type="submit" class="btn bg-mint">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if comments %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Comments:</h3>
            </div>
        </div>
        {% for comment in comments  %}
            <div class="row gx-0">
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <p class="mb-1 fs-5"><strong>{{ comment.name }} wrote:</strong></p>
                        <p class="ms-3">{{ comment.body }}</p>
                    <hr>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <hr>
                <p class="fs-4"><strong> No comments has been posted </strong></p>
                <hr>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}