{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    
    <div class="row my-3 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
            <h2>{{ post.title }}</h2>
        </div>
    </div>
    {% if "placeholder" not in post.featured_image.url %}
        <div class="row my-3 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
                <img class="m-2 mx-auto d-block post-detail-img"
                     src="{{ post.featured_image.url }}">

                <h6>{{ post.category.friendly_name }} | By: {{ post.author }}
                    <span class="post-date"> | {{ post.created_on }}</span>
                </h6>
                <hr>
            </div>
        </div>
    {% endif %}

    <div class="row gx-0">
        <div class="col-12 col-md-8 offset-md-2 text-center">
            <p>{{ post.content | safe }}</p>
        </div>
    </div>

    <div class="row gx-0">
        <div class="col-md-6 offset-md-3">
            <form class="like-form" 
                  action="{% url 'post_like' post.slug %}" 
                  method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" class="btn-liked">
                    <i class="fas fa-heart fa-3x liked"></i>
                </button>
                {% else %}
                <button type="submit" class="btn-like">
                    <i class="far fa-heart fa-3x"></i>
                </button>
                {% endif %}
                <span class="likes-count fs-1">
                    {{ post.number_of_likes }}
                </span>
            </form>
        </div>
    </div>

    {% if comments %}
        {% for comment in comments  %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Comments:</h3>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-md-6 offset-md-3">
                        <p> {{ comment.body }}</p>
                    <hr>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <hr>
                <p>No comments has been posted</p>
                <hr>
            </div>
        </div>
    {% endif %}
</div>

<!-- Comment Form -->
<form method="post" action="" class="comment-form">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}