/* General CSS rules */

textarea {
    resize: none;
    max-width: 100%;
}


/* ----- NAV / NAV-ITEMS ----- */

.nav-link {
    margin-bottom: 2px;
}

/* ----- NEWSSITE / INDEX ITEMS ----- */

.card-border {
    border: 2px solid gainsboro;
}

/* ----- FORMS ----- */

    /* ----- Signup-form, Login-form ----- */

.wrap-signup {
    border: 2px solid gainsboro;
}

#signup_form > p, .login {
    font-size: 20px;
}

#signup_form > p > label {
    display: block;
}

.login > p > label {
    display: block;
}

.wrap-login {
        border: 2px solid gainsboro;
}

    /* ----- Post Form ----- */

.post-form > label {
        display: block;
}

.post-form {
    border: 2px solid gainsboro;
}

    /* ----- Comment Form ----- */

.comment-form > label {
    display: block;
    font-size: 20px;
    font-weight: 600;
}


/* ----- Post Detail ----- */

.post-detail-img {
    max-width: 100%; 
    height: auto;
}


/* ----- COLOR CLASSES ----- */

.bg-lilac {
    background-color: #C299BE !important;
}

.bg-mint {
    background-color: #C5E7E2 !important;
}

.bg-feldgrau {
    background-color: #627264 !important;
}

.bg-purple {
    background-color: #372549 !important;
}

.bg-floral {
    background-color: #FAF7EF !important;
}

.lilac {
    color: #C299BE !important;
}

.mint {
    color: #C5E7E2 !important;
}

.feldgrau {
    color: #627264 !important;
}

.purple {
    color: #372549 !important;
}

.floral {
    color: #FAF7EF !important;
}