
    /* ----- NAV / NAV-ITEMS ----- */

nav {
    background-color: #C299BE;
}

.signup-btn {
    background-color: #C5E7E2;
}

    /* ----- FORMS ----- */

.signup-col {
    background-color: #372549;
}

.signup-or-login > h1, p {
    color: white;
}

#signup_form > p {
    font-size: 20px;
    color: white;
}

#signup_form > p > label {
    display: block;
}