{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

    <head>

        {% block meta %}

            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        {% endblock %}

            <script src="https://code.jquery.com/jquery-3.6.3.slim.js" 
                    integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" 
                    crossorigin="anonymous">
            </script>

        {% block corecss %}
        
            <link rel="preconnect" 
                  href="https://fonts.gstatic.com"
            >

            <script src="https://kit.fontawesome.com/155195b896.js" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            >

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
                  rel="stylesheet" 
                  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
                  crossorigin="anonymous"
            >

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="{% static 'css/style.css' %}"
            >

        {% endblock %}

    </head>

    <body class="h-100 d-flex flex-column bg-floral">
        <nav class="navbar navbar-expand-lg navbar-light bg-lilac">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="fs-3">R</span><h2 class="d-inline">T</h2><span class="fs-3">R</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">

                        <!-- Categories section with dropdown menu -->
                      <div class="dropdown category-menu">
                            <li class="text-dark btn dropdown-toggle nav-color fs-4 ps-0"
                                type="button" 
                                id="category-dropdown"
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                <i class="fa-solid fa-list-ul fa-xs"></i>
                                Categories
                            </li>

                            <!-- Post Categories ul -->
                            <ul class="dropdown-menu rounded-0 border-top-0 text-center m-0" 
                                aria-labelledby="category-dropdown">

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}">
                                        Business 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}"> 
                                        Art/Entertainment
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories">
                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}">
                                        Finance/Economics 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}"> 
                                        Politics                                      
                                    </a>    
                                </li>

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4"
                                       href="{% url 'index' %}"> 
                                        Sciences 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}"> 
                                        Opinions 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories">

                                    <a class="text-dark nav-link fs-4" 
                                       href="{% url 'index' %}"> 
                                        Ships and Giggles
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /// Categories section with dropdown menu /// -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-4" aria-current="page" href="{% url 'index' %}">
                                <i class="fa-solid fa-house fa-xs me-1"></i> Home
                            </a>
                        </li>
                        <!-- Logic to handle what user sees, depending on if logged in or out -->
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="d-inline-block nav-link text-dark fs-4" href="">
                                    <i class="fa-solid fa-user fa-xs"></i> My Account
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-4" href="{% url 'create_post' %}">
                                    <i class="fa-solid fa-pen-to-square fa-xs"></i> Create Post
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-inline-block nav-link text-dark fs-4" href="{% url 'account_logout' %}">
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="d-inline-block nav-link text-dark fs-4" href="{% url 'account_login' %}">
                                    <i class="fa-solid fa-right-to-bracket fa-xs"></i> Log in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="px-2 bg-mint rounded d-inline-block nav-link text-dark fs-4" href="{% url 'account_signup' %}">
                                    Sign Up
                                </a>
                            </li>
                        {% endif %}
                        <!-- /// Logic to handle what user sees, depending on if logged in or out /// -->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid message-container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    {% if messages %}
                            {% for message in messages %}
                                <h3 class="py-2 {% if message.tags %} {{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </h3>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
        <footer class="mt-auto w-100">
            <div class="container-fluid">
                This is a footer
            </div>
        </footer>
    </body>
</html>
