{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

    <head>

        {% block meta %}

            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        {% endblock %}

            <script src="https://code.jquery.com/jquery-3.6.3.slim.js" 
                    integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" 
                    crossorigin="anonymous">
            </script>

        {% block corecss %}
        
            <link rel="preconnect" 
                  href="https://fonts.gstatic.com"
            >

            <script src="https://kit.fontawesome.com/155195b896.js" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            >

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
                  rel="stylesheet" 
                  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
                  crossorigin="anonymous"
            >

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="{% static 'css/style.css' %}"
            >

        {% endblock %}

    </head>

    <body class="h-100 w-100 d-flex flex-column bg-floral">

        <!-- Top Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-purple">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="fs-3 text-light">R</span><h2 class="d-inline text-light">T</h2><span class="fs-3 text-light">R</span>
                </a>

                <!-- Menu button for smaller screen sizes -->
                <button class="navbar-toggler bg-purple" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarText">

                        <!-- Categories section with dropdown menu -->
                      <div class="dropdown category-menu">
                            <li class="text-light btn dropdown-toggle nav-color fs-4 ps-0"
                                type="button" 
                                id="category-dropdown"
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                <i class="fa-solid fa-list-ul fa-xs"></i>
                                Categories
                            </li>

                            <!-- Post Categories ul -->
                            <ul class="dropdown-menu rounded-0 border-0 text-center m-0 bg-lilac p-0 mt-2" 
                                aria-labelledby="category-dropdown">

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4"
                                       href="{% url 'post_filter' '1' %}">
                                        General 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4"
                                       href="{% url 'post_filter' '2' %}">
                                        Business 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4" 
                                       href="{% url 'post_filter' '3' %}"> 
                                        Art/Entertainment
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">
                                    <a class="text-light nav-link fs-4" 
                                       href="{% url 'post_filter' '4' %}">
                                        Finance/Economics 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4" 
                                       href="{% url 'post_filter' '5' %}"> 
                                        Politics                                      
                                    </a>    
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4"
                                       href="{% url 'post_filter' '6' %}"> 
                                        Sciences 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4" 
                                       href="{% url 'post_filter' '7' %}"> 
                                        Opinions 
                                    </a>
                                </li>

                                <li class="nav-item dropdown-categories bg-purple">

                                    <a class="text-light nav-link fs-4" 
                                       href="{% url 'post_filter' '8' %}"> 
                                        Ships and Giggles
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /// Categories section with dropdown menu /// -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light fs-4" aria-current="page" href="{% url 'index' %}">
                                <i class="fa-solid fa-house fa-xs me-1"></i> Home
                            </a>
                        </li>
                        <!-- Logic to handle what user sees, depending on if logged in or not -->
                            <!-- Logged in user menu with memeber features -->
                        {% if user.is_authenticated %}
                            <div class="dropdown category-menu">
                                <li class="text-light btn dropdown-toggle nav-color fs-4 ps-0"
                                    type="button" 
                                    id="category-dropdown"
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false">
                                    <i class="fa-solid fa-user fa-xs"></i> My Account
                                </li>

                                <!-- Post Categories ul -->
                                <ul class="dropdown-menu rounded-0 border-0 text-center m-0 bg-lilac p-0 mt-2" 
                                    aria-labelledby="category-dropdown">

                                    <li class="nav-item dropdown-categories bg-purple">

                                        <a class="text-light nav-link fs-4"
                                        href="{% url 'create_post' %}">
                                        <i class="fa-solid fa-pen-to-square fa-xs"></i> Create Post 
                                        </a>
                                    </li>
                            </div>
                            <li class="nav-item">
                                <a class="d-inline-block nav-link text-light fs-4" href="{% url 'account_logout' %}">
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="d-inline-block nav-link text-light fs-4" href="{% url 'account_login' %}">
                                    <i class="fa-solid fa-right-to-bracket fa-xs"></i> Log in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="px-2 bg-mint rounded d-inline-block nav-link text-light fs-4" href="{% url 'account_signup' %}">
                                    Sign Up
                                </a>
                            </li>
                        {% endif %}
                        <!-- /// Logic to handle what user sees, depending on if logged in or not /// -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /// Top Nav /// -->

        <!-- Message Container -->
        <div class="container-fluid message-container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                            <h3>{{ message }}</h3>
                            <button type="button" class="btn-close my-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Page Content -->
        {% block content %}
        {% endblock content %}

        <!-- Footer -->
        <footer class="mt-auto w-100 bg-purple">
            <div class="container-fluid">
                <div class="row mt-1">
                    <div class="col-6 text-center">
                        <p class="fs-5 text-light mb-1">
                            &copy; Jim Olesen 2023
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <a class="text-light" 
                               href="https://github.com/Enquil/" 
                               target="_blank">
                            <i class="fa-brands fa-github fa-2x"> Github</i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /// Footer /// -->
    </body>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 4000);
    </script>
</html>
