{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-10 offset-1 text-center">
            {{ post.content | safe }}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row col">
        {% if comments %}
            {% for comment in comments  %}
            <p>{{ comment.body }}</p>
            {% endfor %}
            {% else %}
            <p>No comments has been posted</p>
        {% endif %}
    </div>
</div>
<form method="post" action="" class="comment-form">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}