{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-6 offset-3 text-center">
            {% for post in post_list %}
                <a href="{% url 'post_detail' post.slug  %}" class="post-detail-link d-block my-5 text-dark text-decoration-none">
                    <div class="card">
                        <h2 class="card-title">{{ post.title }}</h2>
                        {% if "placeholder" not in post.featured_image.url %}
                            <img class="m-2 mx-auto d-block" 
                                 style="max-width: 300px; height: auto;" 
                                 src="{{ post.featured_image.url }}">
                        {% endif %}
                        <h5>Posted in {{ post.category }} | By: {{ post.author | safe }}<span class="post-date"> | {{ post.created_on }}</span></h5>
                        <h5>
                            <span><i class="fa-regular fa-comments"></i> {{ post.comments.count }}</span> |
                            <span><i class="fa-regular fa-thumbs-up"></i> {{ post.likes.count }}</span>
                        </h5>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}